@import 'tailwindcss' source(none);

@source "../../src";

@theme {
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --breakpoint-xxl: 1400px;

    --color-background: oklch(0.96 0 0);
    --color-foreground: oklch(7.97% 0.0166 233.51);
    --color-primary: #007bff;
    --color-card: #f4f5f6;
    --color-muted: oklch(92% 0.02 233.51);

    --color-error: oklch(55.74% 0.224365 21.5634);
    --color-error-bg: oklch(98.07% 0.009971 1.9774);

    --color-border: #bfc7cf;
    --color-input: oklch(80% 0.02 233.51);

    --color-good: #87c13c;
    --color-good-muted: #a8e05f;
    --color-moderate: #efbe1d;
    --color-moderate-muted: #f4d56e;
    --color-sensitive: #f27e2f;
    --color-sensitive-muted: #ffa569;
    --color-unhealthy: #e84b50;
    --color-unhealthy-muted: #ff7e7d;
    --color-very-unhealthy: #8a5d9d;
    --color-very-unhealthy-muted: #a37abf;
    --color-hazardous: #915c6c;
    --color-hazardous-muted: #b07a8a;
}

@variant sm (@media screen and (min-width: theme(--breakpoint-sm)));
@variant md (@media screen and (min-width: theme(--breakpoint-md)));
@variant lg (@media screen and (min-width: theme(--breakpoint-lg)));
@variant xl (@media screen and (min-width: theme(--breakpoint-xl)));
@variant xxl (@media screen and (min-width: theme(--breakpoint-xxl)));

@layer utilities {
    .wrapper {
        margin-inline: auto;
        padding-inline: 1rem;

        @variant sm {
            max-width: 540px;
        }

        @variant md {
            max-width: 720px;
            padding-inline: 2rem;
        }

        @variant lg {
            max-width: 960px;
        }

        @variant xl {
            max-width: 1140px;
        }

        @variant xxl {
            max-width: 1320px;
        }
    }
}

@utility search-gradient {
    background: linear-gradient(
        to top,
        oklch(0.623 0.214 259.815 / 20%) 0%,
        transparent 40%,
        transparent 100%
    );
}

@utility bg-gradient-good {
    background: linear-gradient(
        to top,
        color-mix(in oklch, var(--color-good) 30%, transparent) 0%,
        transparent 100%
    );
}

@utility bg-gradient-moderate {
    background: linear-gradient(
        to top,
        color-mix(in oklch, var(--color-moderate) 30%, transparent) 0%,
        transparent 100%
    );
}

@utility bg-gradient-sensitive {
    background: linear-gradient(
        to top,
        color-mix(in oklch, var(--color-sensitive) 30%, transparent) 0%,
        transparent 100%
    );
}

@utility bg-gradient-unhealthy {
    background: linear-gradient(
        to top,
        color-mix(in oklch, var(--color-unhealthy) 30%, transparent) 0%,
        transparent 100%
    );
}

@utility bg-gradient-very-unhealthy {
    background: linear-gradient(
        to top,
        color-mix(in oklch, var(--color-very-unhealthy) 30%, transparent) 0%,
        transparent 100%
    );
}

@utility bg-gradient-hazardous {
    background: linear-gradient(
        to top,
        color-mix(in oklch, var(--color-hazardous) 30%, transparent) 0%,
        transparent 100%
    );
}

@utility scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

html,
body {
    @apply size-full bg-background text-foreground;
}
